<!DOCTYPE HTML>
<html lang="en">

<head>
  <!-- Google tag (gtag.js) -->
  <title>{{ site.name }}</title>

  <meta content="text/html; charset=utf-8" http-equiv="Content-Type">

  <meta name="author" content="{{ site.name }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="icon" type="image/x-icon" href="{{ site.baseurl }}/favicon.ico">
  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
</head>

<body>
  <table style="width:100%;max-width:800px;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
    <tr style="padding:0px">
      <td style="padding:0px">
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr style="padding:0px">
            <td style="padding:2.5%;width:70%;vertical-align:middle">
              <h1 style="text-align:left; display: inline;">Dawon Kim</h1><a href="mailto:danywony@gmail.com"><i class="fas fa-envelope"></i></a>
              <h3>Graduate HCI Researcher, Designer, and XR Developer</h3>
              <p>I am a graduate student at Sogang University exploring the intersection of art, technology, and human perception. My research focuses on developing virtual agents that facilitate empathetic and personalized human-AI experiences. I am working towards creating a future of harmonious human-machine symbiosis through human-centered design and technology.
                </p>
                <p>  
                  [<a href="#">CV</a>]&nbsp;&nbsp;
                  Statements about: 
                    [<a href="https://drive.google.com/file/d/1rBow5una_qjPotzdDVupZYY7ncKsWaym/view?usp=drive_link">Research</a>]&nbsp;
                    [<a href="https://drive.google.com/file/d/1W8uAduKt3yFQGL5Q1o1gkfkGtHROtgpX/view?usp=drive_link">Personal</a>]&nbsp;
                    [<a href="https://drive.google.com/file/d/1N0_eN9ifWP0ok1pQZfTIlMOdsNoBFQzP/view?usp=drive_link">Diversity</a>]&nbsp;
                  </p>   
            </td>
            <td style="padding:2.5%;width:30%;max-width:30%">
              <img style="width:100%;max-width:100%" alt="profile photo" src="{{ site.avatar }}">
            </td>
          </tr>
        </table>
        
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:collapse;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%; width:100%;vertical-align:middle">
              <h2 style="margin:0; display:inline;">News</h2>
              <a href="javascript:void(0);" id="toggle-news" style="font-size:14px; margin-left:10px; text-decoration:none; color:#007BFF;">
                <i id="toggle-icon" class="fas fa-plus"></i>
              </a>
            </td>
          </tr>
        </table>
        
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:collapse;margin:0;">
          <tbody id="recent-news">
            {% assign news_posts = site.posts | where: "categories", "news" %}
            {% for post in news_posts %}
            {% if forloop.index <= 3 %}
            <tr style="height: auto; line-height: 1.2;">
              <td style="padding: 0px 2.5% 0px 2.5%; width: 15%; vertical-align: middle;">
                {{ post.date | date: "%b %Y" }}
              </td>
              <td style="padding: 0px 2.5% 0px 2.5%; width: 85%; vertical-align: middle;">
                {{ post.excerpt }}
              </td>
            </tr>
            {% endif %}
            {% endfor %}
          </tbody>
          
          <tbody id="all-news" style="display:none;">
            {% assign news_posts = site.posts | where: "categories", "news" %}
            {% for post in news_posts %}
            {% if forloop.index > 3 %}
            <tr style="height: auto; line-height: 1.2;">
              <td style="padding: 0px 2.5% 0px 2.5%; width: 15%; vertical-align: middle;">
                {{ post.date | date: "%b %Y" }}
              </td>
              <td style="padding: 0px 2.5% 0px 2.5%; width: 85%; vertical-align: middle;">
                {{ post.excerpt }}
              </td>
            </tr>
            {% endif %}
            {% endfor %}
          </tbody>
        </table>
        
        <script>
          document.getElementById('toggle-news').addEventListener('click', function () {
            var allNews = document.getElementById('all-news');
            var toggleIcon = document.getElementById('toggle-icon');
            if (allNews.style.display === 'none') {
              allNews.style.display = 'table-row-group';
              toggleIcon.className = 'fas fa-minus'; 
            } else {
              allNews.style.display = 'none';
              toggleIcon.className = 'fas fa-plus'; 
            }
          });
        </script>

        <br>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>Research & Projects</h2>
              <p>
                I am interested in Human-Computer Interaction, Anthropomorphic AI, Virtual Humans, Machine Creativity, and Human-Centered Design in Immersive Media.
              </p>
            </td>
          </tr>
        </table>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          {% for post in site.posts %}
          {% if post.categories contains 'research' %}
          <tr>
            <td style="padding:2.5%;width:25%;vertical-align:middle;min-width:120px">
              <img src="{{post.image}}" alt="project image" style="width:auto; height:auto; max-width:100%;">
            </td>
            <td style="padding:2.5%;width:75%;vertical-align:middle">
              <h3>{{post.title}}</h3>
              <br>
              {{post.authors}}
              <br>
              <em>{{post.venue}}</em>, {{ post.date | date: "%Y" }}
              <br>
              {% if post.projectpage %}
              [<a href="{{post.projectpage}}">project page</a>]&nbsp;
              {% endif %}
              {% if post.pdf %}
              [<a href="{{post.pdf}}">pdf</a>]&nbsp;
              {% endif %}
              {% if post.abstract %}
              [<a href="{{post.abstract}}">abstract</a>]&nbsp;
              {% endif %}
              {% if post.arxiv %}
              [<a href="{{post.arxiv}}">arXiv</a>]&nbsp;
              {% endif %}
              {% if post.report %}
              [<a href="{{post.report}}">report</a>]&nbsp;
              {% endif %}
              {% if post.video %}
              [<a href="{{post.video}}">video</a>]&nbsp;
              {% endif %}
              {% if post.code %}
              [<a href="{{post.code}}">code</a>]&nbsp;
              {% endif %}
              {% if post.poster %}
              [<a href="{{post.poster}}">poster</a>]&nbsp;
              {% endif %}
              {% if post.slides %}
              [<a href="{{post.slides}}">slides</a>]&nbsp;
              {% endif %}
              {% if post.website %}
              [<a href="{{post.website}}">website</a>]&nbsp;
              {% endif %}
              {% if post.youtube %}
              [<a href="{{post.youtube}}">YouTube</a>]&nbsp;
              {% endif %}
              {% if post.press %}
              [<a href="{{post.press}}">press</a>]&nbsp;
              {% endif %}
              {% if post.article %}
              [<a href="{{post.article}}">article</a>]&nbsp;
              {% endif %}
              <p></p>
              {{ post.excerpt }}
            </td>
          </tr>
          {% endif %}
          {% endfor %}
        </table>
        <br>
        <br>
        <br>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>TV & Films</h2>
              <p>3+ years of experience as a concept designer and animator for animated feature film and TV shows, currently streaming globally.
              </p>
            </td>
          </tr>
        </table>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          {% for post in site.posts %}
          {% if post.categories contains 'tvfilms' %}
              <tr>
                <td style="padding:2.5%;width:25%;vertical-align:middle;min-width:120px">
                  <img src="{{post.image}}" alt="project image" style="width:auto; height:auto; max-width:100%;">
                </td>
                <td style="padding:2.5%;width:75%;vertical-align:middle">
                  <h3>{{post.title}}</h3>
                  <br>
                  {{post.authors}}
                  <br>
                  <em>{{post.venue}}</em>, {{ post.date | date: "%Y" }}
                  <br>
                  {% if post.imdb %}
                  [<a href="{{post.imdb}}">IMDb</a>]&nbsp;
                  {% endif %}
                  {% if post.youtube %}
                  [<a href="{{post.youtube}}">YouTube</a>]&nbsp;
                  {% endif %}
                  {% if post.netflix %}
                  [<a href="{{post.netflix}}">Netflix</a>]&nbsp;
                  {% endif %}
                  {% if post.press %}
                  [<a href="{{post.press}}">Press</a>]&nbsp;
                  {% endif %}
                  {% if post.reel %}
                  [<a href="{{post.reel}}">reel</a>]&nbsp;
                  {% endif %}
                  <p></p>
                  {{ post.excerpt }}
                </td>
              </tr>
            {% endif %}
          {% endfor %}
        </table>
        <br>
        <br>
        <br>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:0px">
              <br>
              <p style="text-align:right;font-size:small">
                ⓒ 2024 Dawon Kim. Last updated: December 2024.<br>[<a href="https://jonbarron.info/">site template</a>]
              </p>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</body>

</html>

